.banking-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 0 -18px;
}
.banking-tools li {
  padding: 0 0 0 18px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}
.banking-tools li.visible {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.banking-tools a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: bold;
  font-size: 0.85rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 0 25px;
  height: 82px;
  border-radius: 12px;
}
.banking-tools a span {
  display: inline-block;
  padding-right: 1rem;
}
.banking-tools a img {
  width: auto;
  margin-right: 20px;
}
.banking-tools a:hover {
  background-color: #000;
}

@media only screen and (max-width: 1100px) {
  .banking-tools {
    margin-top: -18px;
  }
  .banking-tools li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    padding-top: 18px;
  }
}

@media only screen and (max-width: 670px) {
  .banking-tools li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}
@media only screen and (max-width: 570px) {
  .banking-tools li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}
